@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    position: relative;
    gap: 30px;
    background: url('header-home.jpg') no-repeat center center/cover;
}

.pillar {
    width: 150px;
    height: 100vh;
}

nav {
    user-select: none;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    height: fit-content;
}

ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

li {
    list-style: none;
    transition: all 300ms ease;
}

li:hover {
    transform: scale(1.02);
}

li>a {
    color: #a6a6a6;
    text-decoration: none;
    font-size: 12px;
    transition: all 300ms ease;
    font-weight: bold;
}

li>a:hover {
    text-decoration: underline 1px;
    color: white;
}

.breaker {
    height: 30px;
    border: 0.5px solid white;
    border-radius: 99px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 125px;
    border-radius: 9999px;
    fill: #fff;
}

.flex {
    display: flex;
}

.hero-title {
    color: white;
    margin: 115px 0 115px 10px;
    width: 570px;
}

.h-1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 52px;
    font-weight: 600;
    line-height: 4rem;
}

.line {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    padding: 0 12px 0 0;
}

.container-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
}

.contact-btn {
    width: fit-content;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: bold;
}